<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="title">Tomster Tracker</h2>
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>  
=======
{{!-- The following component displays Ember's default welcome message. --}}
{{welcome-page}}
{{!-- Feel free to remove this! --}}

{{outlet}}
>>>>>>> 22d2636... message
